.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.aboutTitleContainer {
  display: grid;
  margin-top: 8vh;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 70rem;
  height: 60vh;
  max-width: 90%;
  padding: 20px;
  padding-top: 5vh;
  background-color: #41414142;
  border: 2px solid #ffffff11;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0px 0px 30px 10px rgb(0, 0, 0);
  cursor: default;
  overflow: auto;
  margin: 0 auto;
  animation: fadeIn 1s ease-out;
}

.profilePicture {
  margin-top: -3vh;
  grid-row: 1;
  width: 80%;
  max-width: 300px;
}

.aboutTitle {
  grid-row: 2;
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  font-family: "M1", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.5em;
}

.antoineAbout {
  color: #219dd3;
  transition: color 0.2s ease;
}

.aboutSubtitle {
  grid-row: 3;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center; 
  line-height: 0.5em;
  margin: 0;
}

.alternance {
  color:#219dd3;
}

.aboutMe {
  grid-row: 4;
  color: white;
  text-align: justify;
  margin-bottom: 30px;
  max-width: 90%;
  font-size: 14px;
  font-weight: 400;
  font-family: "montserrat", sans-serif;
  line-height: 2.5vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .aboutTitleContainer {
    width: 90%; 
    max-width: 100%;
    padding: 0px;
    padding-top: 2vh;
    align-items: center;
    text-align: center;
    margin-top: 47px;
    overflow-y: scroll;
  }

  .profilePicture {
    max-width: 210px;
  }

 .aboutTitle {
    font-size: 33px;
  }

  .aboutSubtitle {
    font-size: 12.8px;
    font-weight: 500;
  }

  .aboutMe {
    font-size: 13px;
  }
  .aboutPage {
    background-image: url("../assets/BGMobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
  }
}
