@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #00000046; */
}

.homeTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  margin-top: -5vh;
  width: 70%; 
  margin-right: 30vw;
}

.line-1, .line-2, .line-3, .line-4-desktop, .line-4-mobile {
  z-index: 1;
  font-size: 11vw;
  font-weight: 900;
  margin: 0;
  font-family: "M1", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1em;
  opacity: 0;
  transform: translateY(-10px);
  animation: FadeInAndDown 2.5s  ease-out forwards;
  animation-delay: 0.2s;
  cursor: default;
}

.line-1 {
  animation-delay: 0.3s;
}

.line-2 {
  animation-delay: 0.9s;
}

.line-3 {
  animation-delay: 1.6s;
}

.line-4-desktop {
  animation-delay: 2.5s;
  position: relative;
  margin-left: 13.9vw;
  font-family: "Montserrat", sans-serif;
  font-size: 1.27vw;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-top: 1vh;
}

.line-4-mobile {
  display: none;
}

@keyframes FadeInAndDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.antoine {
  color: #219dd3;
  transition: color 0.2s ease;
}

.antoine:hover {
  color: #F7480F; 
}

@media only screen and (max-width: 768px) {
  .homeTitleContainer {
    width: 100%; 
    margin-right: 0vw;
    margin-top: 0rem;
  }

  .line-1, .line-2, .line-3, .line-4-mobile {
    font-size: 17vw;
    line-height: 5rem;
    animation: none;
    opacity: 1;
    transform: translateY(0);
  }

  .line-4-desktop {
    display: none;
  }

  .line-4-mobile {
    display: block;
    animation-delay: 2.5s;
    left: 0vw;
    font-size: 2.9vw;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    margin-top: -5vh;
    margin-left: 1vw;
  }
  
  .antoine:hover {
    color: #219dd3;
  }

  .homePage {
    background-image: url("../assets/BGMobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}