.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #00000046; */
}

.homeTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  margin-top: -5vh;
  width: 70%; 
  margin-right: 30vw;
}

.line-1, .line-2, .line-3, .line-4-desktop, .line-4-mobile {
  z-index: 1;
  font-size: 11vw;
  font-weight: 900;
  margin: 0;
  font-family: "M1", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1em;
  opacity: 0;
  transform: translateY(-10px);
  animation: FadeInAndDown 2.5s  ease-out forwards;
  animation-delay: 0.2s;
  cursor: default;
}

.line-1 {
  animation-delay: 0.3s;
}

.line-2 {
  animation-delay: 0.9s;
}

.line-3 {
  animation-delay: 1.6s;
}

.line-4-desktop {
  animation-delay: 2.5s;
  position: relative;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.65vw;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-top: 1vh;
}

.line-4-mobile {
  display: none;
}

@keyframes FadeInAndDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.antoine {
  color: #219dd3;
  transition: color 0.2s ease;
}

.antoine:hover {
  color: #F7480F; 
}
@media only screen and (max-width: 768px) {
  .homeTitleContainer {
    width: 100%;
    margin-right: -70px;
    margin-top: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajustez cette valeur en fonction de vos besoins */
  }

  .line-1, .line-2, .line-3 {
    font-size: 80px;
    width: 90%;
    line-height: 4.9rem;
    animation: none;
    opacity: 1;
    transform: translateY(0);
    text-align: left;
    padding-left: 0vh;
  }

  .line-4-desktop {
    display: none;
  }

  .line-4-mobile {
    display: block;
    animation-delay: 2.5s;
    font-size: 11px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    margin-top: -1vh;
    margin-left: 0;
    transform: translateY(0);
    text-align: center;
  }
  
  .antoine:hover {
    color: #219dd3;
  }

  .homePage {
    /* background-color: black; */
    background-image: url("../assets/BGMobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}